html {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 700;
    font-size: 10px;
}


/* headerのcss */

body {
    background-color: #DA7D7D; 
    /* 全体の背景色を #DA7D7D に設定 */
}

/* headerの背景 */
header {
    background-color: #fff;
    padding: 50px 0px;
}

/*　コンテンツ幅指定・コンテンツのセンター揃え */

/* .top_wrapper {
    width: 1000px;
    display: flex;
    justify-content: center;
    padding: 50px 0;
} */

/* ナビゲーションとロゴ周り */

.navlogo_wrapper {
    /* width: 1000px; */
    display: flex;
    justify-content: center;
}

.navlogo__wrapper {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.nav_wrapper {
    background-color: #DA7D7D;
    color: #fff;
    font-size: 1.4rem;
    font-style: bold;
    border-radius: 10px;
    margin-bottom: 50px;
}

nav > ul {
    display: flex;
    padding: 0 15px 0 15px;
}

nav > ul > li {
    padding: 20px 15px;
}

/* title */

.page_title_box {
    text-align: center;
}

#page_title {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #526AB2;
}

/* 
--------------ここからメインコンテンツ-------------
 */

/* 親要素の幅指定 */




/* 偶数コンテンツの背景 */

.container_even {
    background-color: #FFF3E7;
}

/* セクションごとの余白 */

section {
    padding: 100px 0;
}

/* 各コンテンツタイトル */

h3 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}

#menu , #shift , #gallery {
    color: #FFF3E7;
}

#consignment , #goods {
    color: #DA7D7D;
}

/* 

--------------ここからメニュー----------


画像の並び ・　画像装飾

 */

.menu_list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.menu_item img {
    border-radius: 5px;
}

.menu_item > .menuitemImg_wrapper {
    background-color: #FFF3E7;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.menu_item p {
    font-size: 18px;
    
}

.menu_item > p > span {
    float: right;
}

.menu_item {
    margin-bottom: 30px;
}


/* 
    営業時間・ボタン
*/

.business-hours-container {
    display: flex; /* Flexboxレイアウトを適用する */
    flex-flow: column;
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
    text-align: center; /* コンテナの中の要素を中央揃えにする */
    padding: 20px;
}

.business-hours {
    max-width: 1000px;
    background-color: #ffeee8; /* 背景色を設定 */
    border-radius: 10px; /* 角を丸くする */
    margin-bottom: 50px;
    padding: 10px 40px;
    width: 400px; /* 幅を設定 */
}

/* モバイルビューのスタイルを調整 */

@media (max-width: 600px) .business-hours-container {
flex-direction: column; /* スマホでは要素を縦に並べる */
}


/* 営業時間テキストのcss */

.business-hours .title {
    font-size: 2rem;
    color: #526AB2;
}

.time {
    color: #DA7D7D; /* 時間の文字色を設定 */
    font-size: 2rem; /* フォントサイズを設定 */
}

/* view more のcss */

.view-more {
    background-color: #526AB2; /* ボタンの背景色を設定 */
    border-radius: 50px; /* ボタンの角を丸くする */
    color: #DFEEFF; /* ボタンの文字色を白にする */
    padding: 10px 60px; /* ボタンの内側の余白を設定 */
    width: 210px;
    font-size: 1.6rem; /* フォントサイズを設定 */
    cursor: pointer; /* マウスカーソルをポインタにする */
    transition: background-colo r 0.3s ease; /* 背景色の変更にアニメーションを設定 */
}

.view-more:hover {
background-color: #ff7766; /* ホバー時の背景色を設定 */
}

/* レスポンシブ対応 */
@media (max-width: 600px) {
.business-hours-container {
padding: 10px;
}

.business-hours, .view-more {
    width: auto; /* 幅を自動調整にする */
    margin: 10px auto; /* 自動的に中央揃えにする */
}
    


/* 
    展示委託販売
*/


/* 
    説明文
*/

.consignment_p {
    text-align: center;
    font-size: 1.6rem;
    line-height: 34px;
    margin-bottom: 50px;
}

.consignment_p > span {
    font-size: 2rem;
    color: #526AB2;
}


/* 
    画像装飾
*/

.even_Imglist {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.Img260_even > img {
    border-radius: 5px;
}

.Img260_even {
    background-color: #DA7D7D;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 50px;
}



/* 
    今月のシフト
*/

.text {
    text-align: center;
    font-size: 1.6rem;
    line-height: 30px;
    margin-bottom: 50px;
}

.shift_Img > img {
    background-color: #FFF3E7;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 50px;
}

.shift_Img {
    text-align: center;
}



/* メンバーリスト */

.menber_list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 500px;
    margin: 0 auto;
}

.menber_item img {
    border-radius: 5px;
}

.menber_item > .menberImg_wrapper {
    background-color: #FFF3E7;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

.menber_item p {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.menu_item > p > span {
    float: right;
}

.menu_item {
    margin-bottom: 30px;
}


/* 
    オリジナルグッズ
*/


.goods_list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.goods_item img {
    border-radius: 5px;
}

.goods_item > .goodsImg_wrapper {
    background-color: #DA7D7D;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.goods_item p {
    font-size: 18px;
    
}

.goods_item > p > span {
    float: right;
}

.goods_item {
    margin-bottom: 30px;
}


/* 
    ギャラリー　画像
*/

.even_Imglist {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.Img260_even > img {
    border-radius: 5px;
}

.Img260_even {
    background-color: #FFF3E7;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 50px;
}