html {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 700;
    font-size: 10px;
}


/* headerのcss */

body {
    background-color: #DA7D7D; 
    /* 全体の背景色を #DA7D7D に設定 */
}

/* headerの背景 */
header {
    background-color: #fff;
    padding: 50px 0px;
}


/* ナビゲーションとロゴ周り */

.navlogo_wrapper {
    /* width: 1000px; */
    display: flex;
    justify-content: center;
}

.navlogo__wrapper {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.nav_wrapper {
    background-color: #DA7D7D;
    color: #fff;
    font-size: 1.4rem;
    font-style: bold;
    border-radius: 10px;
    margin-bottom: 50px;
}

nav > ul {
    display: flex;
    padding: 0 15px 0 15px;
}

nav > ul > li {
    padding: 20px 15px;
}

/* ナビゲーションリンク - アクティブスタイル */
nav > ul > li.active a {
    position: relative; /* ポジションを相対的に設定 */
}

nav > ul > li.active a::after {
    content: '';
    position: absolute; /* ポジションを絶対的に設定 */
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; /* ラインの幅をリンクと同じに設定 */
    height: 5px; /* ラインの高さを設定 */
    background-color: #526AB2; /* ラインの背景色を設定 */
    border-radius: 10px 10px 0 0; /* 上半分に角丸を設定 */
}

/* ハンバーガーメニューアイコンのスタイル */
.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}

/* スマートフォンビューでのナビゲーションとハンバーガーメニューの表示設定 */
@media screen and (max-width: 768px) {
    .burger {
        display: block;
        padding: 20px;
    }

    nav > ul {
        display: none;
    }

    .nav-active {
        display: flex;
        flex-direction: column;
    }

    /* ハンバーガーメニューがアクティブなときのアイコンの変化 */
    .burger.toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 5px);
    }

    .burger.toggle .line2 {
        opacity: 0;
    }

    .burger.toggle .line3 {
        transform: rotate(45deg) translate(-5px, -5px);
    }
}

@media screen and (max-width: 768px) {
    .navlogo__wrapper {
        margin: 0 30px;
    }    
}
    


/* title */

.page_title_box {
    text-align: center;
}

#page_title {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #526AB2;
}



/* 
--------------ここからメインコンテンツ-------------
 */


/* 偶数コンテンツの背景 */

.container_even {
    background-color: #FFF3E7;
}

/* お問い合わせの背景 */
#inquiry {
    background-color: #fff;
}

/* セクションごとの余白 */

section {
    padding: 100px 0;
}


/* 各コンテンツタイトル */

h3 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}

/* 
    タイトル横ライン
*/

.heading__odd , .heading__even {
    align-items: center; /* 横線を上下中央 */
    display: flex; /* 文字と横線を横並び */
    justify-content: center; /* 文字を中央寄せ */
}

.heading__odd::before, .heading__odd::after {
    background-color: #FFF3E7; /* 横線の色 */
    content: "";
    height: 3px; /* 横線の高さ */
    width: 300px;
}

.heading__even::before, .heading__even::after {
    background-color: #DA7D7D; /* 横線の色 */
    content: "";
    height: 3px; /* 横線の高さ */
    width: 300px;
}

.heading__odd::before, .heading__even::before {
    margin-right: 15px; /* 文字との余白 */
}
.heading__odd::after, .heading__even::after {
    margin-left: 15px; /* 文字との余白 */
}


/* 文字色 */

#menu , #shift , #gallery {
    color: #FFF3E7;
}

#consignment , #goods {
    color: #DA7D7D;
}

/* 

--------------ここからメニュー----------


画像の並び ・　画像装飾

 */

.menu_list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.menu_item img {
    border-radius: 5px;
}

.menu_item > .menuitemImg_wrapper {
    background-color: #FFF3E7;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.menu_item p {
    font-size: 18px;
    
}

.menu_item > p > span {
    float: right;
}

.menu_item {
    margin-bottom: 30px;
}


/* 
    営業時間・ボタン
*/

.business-hours-container {
    display: flex; /* Flexboxレイアウトを適用する */
    flex-flow: column;
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
    text-align: center; /* コンテナの中の要素を中央揃えにする */
    padding: 20px;
}

.business-hours {
    max-width: 1000px;
    background-color: #ffeee8; /* 背景色を設定 */
    border-radius: 10px; /* 角を丸くする */
    margin-bottom: 50px;
    padding: 20px 40px;
    width: 400px; /* 幅を設定 */
}

/* モバイルビューのスタイルを調整 */

@media (max-width: 600px) {

.business-hours-container {
flex-direction: column; /* スマホでは要素を縦に並べる */
}

}



/* 営業時間テキストのcss */

.business-hours .title {
    font-size: 2.5rem;
    color: #526AB2;
    padding-bottom: 10px;
}

.time {
    color: #DA7D7D; /* 時間の文字色を設定 */
    font-size: 2rem; /* フォントサイズを設定 */
}



/* view more のcss */

/* 019 */
.button019 a {
    background: #526AB2;
    border-radius: 30px;
    position: relative;
    display: flex;
    justify-content: center; /* テキストを中央に配置 */
    align-items: center;
    margin: 0 auto;
    width: 210px; /* 幅を210pxに設定 */
    height: 50px; /* 高さを50pxに設定 */
    padding: 10px 25px;
    color: #fff;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    text-decoration: none; /* リンクの下線を除去 */

    font-size: 1.6rem;
}

.button019 a:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px; /* ボタンの右端からの距離を調整 */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right 0.3s;
    width: 6px;
    height: 6px;
    border-top: solid 2px currentColor;
    border-right: solid 2px currentColor;
    transform: translateY(-50%) rotate(45deg);
}

.button019 a:hover {
    background: #6bb6ff;
    color: #FFF;
}

.button019 a:hover:after {
    right: 15px; /* ホバー時に矢印を移動 */
}



/* 
    展示委託販売
*/


/* 
    説明文
*/

.consignment_p {
    text-align: center;
    font-size: 1.6rem;
    line-height: 34px;
    margin-bottom: 50px;
}

.consignment_p > span {
    font-size: 2rem;
    color: #526AB2;
}


/* 
    画像装飾
*/

.even_Imglist {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.Img260_even > img {
    border-radius: 5px;
}

.Img260_even {
    background-color: #DA7D7D;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 50px;
}



/* 
    今月のシフト
*/

.text {
    text-align: center;
    font-size: 1.6rem;
    line-height: 30px;
    margin-bottom: 50px;
}

.shift_Img > img {
    background-color: #FFF3E7;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 50px;
}

.shift_Img {
    text-align: center;
}

@media screen and (max-width: 768px) {

    .shift_Img img {
        width: 400px;
        height: auto;
        padding: 10px;
    }
    
    .menberImg_wrapper img {
        width: 112px;
        height: auto;
    }
    
    .menber_item {
        margin: 5px;
    }
}


/* メンバーリスト */

.menber_list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 700px;
    margin: 0 auto;
}

.menber_item img {
    border-radius: 5px;
}

.menber_item > .menberImg_wrapper {
    background-color: #FFF3E7;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

.menber_item p {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.menu_item > p > span {
    float: right;
}

.menu_item {
    margin-bottom: 30px;
}


/* 
    オリジナルグッズ
*/


.goods_list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.goods_item img {
    border-radius: 5px;
}

.goods_item > .goodsImg_wrapper {
    background-color: #DA7D7D;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.goods_item p {
    font-size: 18px;
    
}

.goods_item > p > span {
    float: right;
}

.goods_item {
    margin-bottom: 30px;
}


/* 
    ギャラリー　画像
*/

.odd_Imglist {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.Img260_odd > img {
    border-radius: 5px;
}

.Img260_odd {
    background-color: #FFF3E7;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 50px;
}




/* お問い合わせ */

#inquiry {
    text-align: center;
}

.inquiry__banner__wrapper {
    margin-bottom: 50px;
}

.inquiry__banner__wrapper p {
    margin-top: 20px;
    font-size: 1.4rem;
}

.inquiry__text {
    max-width: 1000px;
    margin: 0 auto;
}

.inquiry__text p {
    text-align: center;
    font-size: 1.4rem;
}

/* 
    お問い合わせ横ライン
*/

.inquiry__title {
    display: flex; /* フレックスコンテナにする */
    align-items: center; /* 垂直方向の中央揃え */
    justify-content: center; /* 水平方向の中央揃え */
    font-size: 30px;
    margin-bottom: 50px;
    color: #254298;
}

.inquiry__title::before,
.inquiry__title::after {
    content: ""; /* 必須 */
    background-color: #254298; /* 横線の色 */
    height: 3px; /* 横線の厚さ */
    width: 300px;
    margin: 0 15px; /* `h3` 要素との余白 */
}




/* footer */

/* フッター全体のスタイル */

footer {
    background-color: #F0F0F0;
    color: #DA7D7D;
    padding-top: 50px;
}


/* SNSアイコン */

.social-links {
    text-align: center; /* アイコンを中央揃えに */
    margin-bottom: 20px; /* 下部の余白 */
    display: flex;
    justify-content: center;
}


.social-links__icon {
    background-color: #DA7D7D;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center; /* 横軸中央揃え */
    align-items: center; /* 縦軸中央揃え */
    margin-bottom: 50px;
}


.social-links a {
    display: inline-flex; /* リンクをフレックスアイテムとして表示 */
    align-items: center; /* 縦軸中央揃え */
    justify-content: center; /* 横軸中央揃え */
}

.social-links__icon:first-child {
    margin-right: 40px;
}


/* フッター中部 */

/* フッター中部の横並び */
.footer__middle__container {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
}


/* フッターの会社概要 */
.contact-info address {
    font-size: 10px;
    font-weight: 500;

}

.contact-info dt {
    margin-bottom: 10px;
}


/* フッターのナビ */

/* フッターのナビを各種横並び */

.footer__nav__container {
    display: flex;
}

.footer__nav__item:not(:last-child){
    margin-right: 50px;
}

.footer__nav__item h6 {
    font-size: 20px;
}

.footer__nav__item li {
    font-size: 12px;
    font-weight: 500;
    line-height: 25px;
}


/* コピーライト */

.copyright {
    background-color: #DA7D7D;
    margin-top: 50px;
    padding: 10px;
    width: 100%; /* これを追加 */
    max-width: 100%; /* これが既にある場合、追加する必要はありません */
    text-align: center; /* 親要素も中央揃えに */
}

/* 中央に配置されたテキスト */
.copyright small {
    color: #fff;
    font-size: 14px;
    text-align: center; /* これが既にある場合、追加する必要はありません */
}


/* フッターのレスポンシブ */

/* スマートフォン用のスタイル (画面幅が600px以下) */
@media (max-width: 600px) {
    .footer__middle__container {
        flex-direction: column;
        align-items: center;
    }

    .footer__nav__container {
        flex-direction: column;
        align-items: center;
    }

    .footer__nav__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .social-links__icon {
        width: 50px;
        height: 50px;
        margin-bottom: 30px;
    }
}

/* タブレット用のスタイル (画面幅が601pxから900px) */
@media (min-width: 601px) and (max-width: 900px) {
    .footer__nav__item:not(:last-child) {
        margin-right: 30px;
    }

    .social-links__icon {
        width: 55px;
        height: 55px;
    }
}

@media (max-width: 600px) {
    .contact-info address, .footer__nav__item li {
        font-size: 14px;
    }

    .footer__nav__item h6 {
        font-size: 18px;
    }
}
@media (max-width: 768px) {
    /* .footer__middle__containerの子要素のうち、.contact-infoのみを縦並びにする */
    .footer__middle__container {
        flex-direction: column;
        align-items: center;
    }

    /* .contact-infoのスタイル調整 */
    .contact-info {
        display: flex;
        justify-content: center;
        margin-bottom: 20px; /* 下の要素との間隔 */
        width: 100%; /* 幅を調整 */
    }

    /* .footer__nav__containerと.footer__nav__itemは横並びのまま */
    .footer__nav__container {
        flex-wrap: wrap; /* 必要に応じて折り返す */
        justify-content: center; /* 中央揃え */
    }

    .footer__nav__item {
        margin-right: 10px; /* 項目間の間隔 */
        margin-bottom: 10px; /* 下の行との間隔 */
    }
}




/* 
    TOPに戻るボタン
*/

/***追従するトップへ戻るボタン***/
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    text-align: center; /* テキストとSVGを中央揃えにする */
    background-color: #526AB2; /* 背景色を設定 */
    border-radius: 50%; /* 正円の形にする */
    padding: 15px 20px; /* 上下に9px、左右に17pxの余白を設定 */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 影を追加して立体感を出す */
}

#back-to-top:hover {
    background-color: #DFEEFF;
}

#back-to-top svg:hover , span:hover {
    color: #526AB2;
}

    
    #back-to-top svg {
    /* SVGのサイズや余白の調整 */
    width: 30px; /* SVGの幅を設定 */
    height: 20px; /* SVGの高さを設定 */
    margin-bottom: 5px; /* SVGとテキストの間の余白 */
    }
    
    #back-to-top span {
    display: block; /* ブロック要素として表示 */
    color: white; /* 文字色を白に */
    font-size: 14px; /* 文字サイズを適宜調整 */
    font-weight: bold; /* 文字を太字に */
    }
    
    /* 画面の小さいデバイスで見たときにボタンが大きすぎないように調整する */
    @media (max-width: 600px) {
    #back-to-top {
    padding: 20px; /* 小さいデバイスでは全体的に余白を減らす */
    bottom: 10px;
    right: 10px;
    }
    #back-to-top svg {
    width: 24px; /* SVGの幅を小さくする */
    height: 16px; /* SVGの高さを小さくする */
    }
    #back-to-top span {
    font-size: 10px; /* テキストのサイズを小さくする */
    }
    }
/***トップへ戻るボタンここまで***/