/* レンタルボックス全体 */
.rental__box {
  max-width: 1000px;
  margin: 0 auto;
}

/* レイアウト */
.rental__wrapper {
  position: relative;
  width: 800px;
  height: 690px;
  text-align: center;
  margin: 0 auto;
}

/* 波紋の基点 */
.rental__wrapper__item {
  position: absolute;
  top: 105px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  font-size: 20px;
  transition: all .3s;
}

/* 波形アニメーション */
.rental__wrapper__item::after,
.rental__wrapper__item::before {
  content: '';
  position: absolute;
  left: -10%;
  top: -10%;
  border: 10px solid #fff;
  width: 120%;
  height: 120%;
  border-radius: 50%;
  opacity: 1;
  animation: 1s circleanime linear infinite;
}

.rental__wrapper__item::before {
  animation-delay: .5s; 
}

@keyframes circleanime {
  0% {
    transform: scale(0.68);
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

/* 中央テキスト */
.rental__wrapper__item__text {
  color: #526AB2;
}

/* リストスタイル */
.rental__list {
  position: relative;
  list-style-type: none;
  padding: 0;
}

.rental__list__item {
  background-color: #fff;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.rental__list__item:last-child {
  margin-bottom: 0;
}

.rental__list__item span {
  font-size: 18px;
  color: #526AB2;
}


.rental__list__item__odd {
  margin-left: 100px; /* 左のマージンを100pxに設定 */
}
