
html {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 700;
    font-size: 10px;
}







.top_header h1 {
    width: 100%; /* 親要素の幅を100%に設定 */
    margin: 0 0 50px 0; /* 余白を取り除く */
}

.top_header h1 video {
    width: 100%;
    height: auto;
}

.toppage_main {
    height: auto;
    overflow: hidden;
}



/* 

    ボタンのところの背景画像

*/

.toppage_main {
    background-image: url();
}




/* テキスト */

.home_svg, .home_textbox {
    align-items: center;
    text-align: center;
    justify-content: center
}

.home_svg {
    margin-bottom: 20px;
}

.home_textbox h2 {
    font-size: 30px;
    margin-bottom: 50px;
}

.home_textbox p {
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 50px;
}




/* トップページのボタン周り */


.home_btn_wrapper {
    max-width: 1000px;
    height: 200px;
    margin: 0 auto 20px;
    display: flex;
    justify-content: space-around;
}

.home_btn {
    font-size: 2rem;
    background-color: #D9D9D9; /* デフォルトの背景色 */
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color 0.3s, width 0.3s, height 0.3s;
}





/* 各ボタンの特定の背景色 */
.home_about {
    color: #69A66F;
}

.home_dive {
    color: #F7C355;
}

.home_bar {
    color: #DA7D7D;
}

.home_library {
    color: #B258C9;
}

.home_event {
    color: #526AB2;
}

/* 各ボタンのホバー時のスタイル */
.home_about:hover {
    background-color: #69A66F;
    color: #fff;
}

.home_dive:hover {
    background-color: #F7C355;
    color: #fff;
}

.home_bar:hover {
    background-color: #DA7D7D;
    color: #fff;
}

.home_library:hover {
    background-color: #B258C9;
    color: #fff;
}

.home_event:hover {
    background-color: #526AB2;
    color: #fff;
}

/* ホバー時のサイズ変更 */
.home_btn:hover {
    width: 200px;
    height: 200px;
}

.btn__wrapper {
    margin-bottom: 50px;
}

/* hoverしたらボタンの下に▲が出てくる */

.home_btn_wrapper li {
    position: relative; /* 三角形を正しく位置付けるために必要 */
}

.home_btn_wrapper .home_btn:hover::after {
    content: ''; /* 疑似要素を動作させるために必要 */
    position: absolute;
    left: 50%; /* 三角形を中央に配置 */
    bottom: -50px; /* 三角形をリストアイテムの下に配置 */
    transform: translateX(-50%); /* 三角形を中央に配置 */
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent; /* サイズを必要に応じて調整 */
    border-right: 20px solid transparent; /* サイズを必要に応じて調整 */
}

#aboutButton::after{
    border-bottom: 20px solid #88ae8c; /* 色とサイズを必要に応じて調整 */
}

#diveButton::after {
    border-bottom: 20px solid #f7d17e; /* 色とサイズを必要に応じて調整 */
}

#barButton::after {
    border-bottom: 20px solid #e59d9d; /* 色とサイズを必要に応じて調整 */
}

#libraryButton::after {
    border-bottom: 20px solid #c486d3; /* 色とサイズを必要に応じて調整 */
}

#eventButton::after {
    border-bottom: 20px solid #7685b2; /* 色とサイズを必要に応じて調整 */
}



/* 三角形の初期状態 */
.home_btn_wrapper .home_btn::after {
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* ホバー時の三角形の状態 */
.home_btn_wrapper .home_btn:hover::after {
    opacity: 1;
    /* 透明度と位置の変化にアニメーションを適用 */
    transition: opacity 0.3s ease, transform 0.3s ease;
}



/* 

    ホバーしたときのテキスト周り

*/

.hover__textitem__wrapper {
    display: flex;
    justify-content: center; /* 横方向の中央揃え */
    align-items: center; /* 縦方向の中央揃え */
    height: 75px;
}


#aboutText , #diveText , #barText , #libraryText , #eventText {
    background-color: #D9D9D9;
    padding: 30px;
    border-radius: 20px;
    opacity: 1;
    transform: translateY(-10px);
    transition: opacity 0.15s ease, transform 0.15s ease;
}

#aboutText {
    background-color: #88ae8c;
    color: #fff;
    position: absolute;
    width: 1000px;
    height: 135px;
}

#diveText {
    background-color: #f7d17e;
    color: #fff;
    position: absolute;
    width: 1000px;
    height: 135px;
}

#barText{
    background-color: #e59d9d;
    color: #fff;
    position: absolute;
    width: 1000px;
    height: 135px;
}

#libraryText {
    background-color: #c486d3;
    color: #fff;
    position: absolute;
    width: 1000px;
    height: 135px;
}

#eventText {
    position: absolute;
    background-color: #7685b2;
    color: #fff;
    width: 1000px;
    height: 135px;
}

.hover__text {
    max-width: 1000px;
    margin: 50px auto;
    text-align: center;
    font-size: 1.4rem;
    line-height: 25px;
}



#hoverTarget {
    /* ホバー対象のスタイル */
    cursor: pointer;
}


/* hoverテキストの位置調整 */

.hover__text__wrapper {
    height: 135px;
    margin: 0 auto;
    position: relative;
}




/* footer */

/* フッター全体のスタイル */

footer {
    background-color: #F0F0F0;
    color: #254298;
    padding-top: 50px;
}


/* SNSアイコン */

.social-links {
    text-align: center; /* アイコンを中央揃えに */
    margin-bottom: 20px; /* 下部の余白 */
    display: flex;
    justify-content: center;
}


.social-links__icon {
    background-color: #254298;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    transition: background-color 0.3s; /* 背景色の変化にアニメーションを適用 */
}


.social-links__icon:hover {
    background-color: #7d9ad9; /* ホバー時の背景色 */
}


.social-links a {
    display: inline-flex; /* リンクをフレックスアイテムとして表示 */
    align-items: center; /* 縦軸中央揃え */
    justify-content: center; /* 横軸中央揃え */
}

.social-links__icon:first-child {
    margin-right: 40px;
}


/* フッター中部 */

/* フッター中部の横並び */
.footer__middle__container {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
}


/* フッターの会社概要 */
.contact-info address {
    font-size: 10px;
    font-weight: 500;

}

.contact-info dt {
    margin-bottom: 10px;
}


/* フッターのナビ */

/* フッターのナビを各種横並び */

.footer__nav__container {
    display: flex;
}

.footer__nav__item:not(:last-child){
    margin-right: 50px;
}

.footer__nav__item h6 {
    font-size: 20px;
}

.footer__nav__item li {
    font-size: 12px;
    font-weight: 500;
    line-height: 25px;
}

.footer__nav__item a:hover {
    color: #7d9ad9; /* ホバー時の文字色 */
}

/* コピーライト */

.copyright {
    background-color: #254298;
    margin-top: 50px;
    padding: 10px;
    width: 100%; /* これを追加 */
    max-width: 100%; /* これが既にある場合、追加する必要はありません */
    text-align: center; /* 親要素も中央揃えに */
}

/* 中央に配置されたテキスト */
.copyright small {
    color: #fff;
    font-size: 14px;
    text-align: center; /* これが既にある場合、追加する必要はありません */
}


/* フッターのレスポンシブ */


/* タブレット用のスタイル (画面幅が601pxから900px) */
@media (min-width: 601px) and (max-width: 900px) {
    
    .footer__middle__container {
        flex-direction: column;
        align-items: center;
    }

    .contact-info {
        margin-bottom: 30px;
    }


    .footer__nav__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* 項目間のスペースを均等に */
    }

    .footer__nav__item {
        width: calc(50% - 20px); /* 2カラムで表示 */
        margin-bottom: 20px; /* 下部の余白 */
    }

    /* 最後のアイテム（About）は中央に配置 */
    .footer__nav__about {
        width: 100%;
        margin-right: 0;
    }   

    .footer__nav__item:not(:last-child){
        margin-right: 10px;
    }
}

/* スマートフォン用のスタイル (画面幅が600px以下) */
@media (max-width: 600px) {
    .footer__middle__container {
        flex-direction: column;
        align-items: center;
    }

    .footer__nav__container {
        flex-direction: column;
        align-items: center;
    }

    .footer__nav__item {
        width: 100%; /* 1カラム表示 */
        margin-bottom: 20px; /* 下部の余白 */
    }
}


@media (max-width: 768px) {
    .home_btn_wrapper {
        flex-direction: column;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .home_btn {
        width: 120px;
        height: 120px;
        margin-bottom: 20px;
        width: 45%; /* スマートフォンではボタンを大きく表示 */
    }
}

@media (max-width: 768px) {
    .hover__text__wrapper {
        width: 100%; /* テキストボックスの幅を画面幅に合わせる */
    }

    .hover__text {
        font-size: 12px; /* ホバーテキストのサイズを小さく */
    }

    #aboutText, #diveText, #barText, #libraryText, #eventText {
        width: 90%; /* ホバーテキストの幅を調整 */
        margin: 0 auto; /* 中央揃え */
    }
}

@media (max-width: 768px) {
    .home_textbox h2 {
        font-size: 24px; /* ヘッダーのサイズを小さく */
    }

    .home_textbox p {
        font-size: 12px; /* パラグラフのサイズを小さく */
    }
}

/* 小さな画面でのボタンサイズの調整 */
@media (max-width: 768px) {
    .home_btn {
        width: 40vw; /* 小さい画面ではボタンを大きくする */
        height: 40vw; /* 幅と同じ値に設定して正円を保つ */
    }
}


